@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.Header {
	padding: 0 80px;
}

.header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 150px;
}
.header__logo-img {
	width: 100%;
	font-family: 'Questrial', sans-serif;
}

.header__nav {
	height: 100%;
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-list {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.header__nav-list .item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	border-radius: 1px;
	font-family: 'Montserrat', sans-serif;
}

.header__nav-list .item-search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 3px 4px;
	color: #838383;
	font-size: 14px;
}

.header__nav-list .item:hover {
	background-color: #ff5672;
}

.header__nav-list .item a {
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #838383;
	font-size: 16px;
}

.header__nav-list .item a:hover {
	color: white;
}

.home {
	background-color: #fc758c;
	height: 500px;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}

.home__title {
	margin: 10px 0 10px;
	width: 600px;
	text-align: center;
	letter-spacing: 8px;
	font-weight: 1000;
	font-size: 28px;
}
.home__subtitle {
	width: 450px;
	text-align: center;
	margin: 10px 0 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 100;
}

.home__button {
	width: 170px;
	height: 35px;
	text-align: center;
	border: none;
	outline: none;
	color: #ff627c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
}

.Footer {
	width: 100%;
	height: 160px;
	padding: 0 80px;
}

.footer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

.footer__title {
	margin: 10px 0 20px;
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 300;
	color: #cbd6dd;
}

.footer__title span {
	color: #ff627c;
	font-weight: 600;
}

.footer__network {
	width: 260px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.footer__network-item {
	width: 35px;
	height: 35px;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__network-item .anchor {
	color: #cbd6dd;
	text-decoration: none;
}

.gallery {
	width: 100%;
	height: 1200px;
	padding: 40px 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery__logos {
	height: 50px;
	width: 200px;
	margin: 0 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
}

.gallery__logos-item {
	width: 30px;
	height: 30px;
	margin: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff5672;
}

.gallery__nav-list {
	width: 450px;
	height: 35px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.gallery__nav-list .item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	border-radius: 1px;
	font-family: 'Montserrat', sans-serif;
}

.gallery__nav-list .item:hover {
	background-color: #ff5672;
}

.gallery__nav-list .item a {
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #838383;
	font-size: 12px;
}

.gallery__nav-list .item a:hover {
	color: white;
}

.gallery__grid {
	width: 700px;
	height: 920px;
	margin: 0 0 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.gallery__grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	box-shadow: 0 0 3px 1px #838383;
}

.gallery__grid-item img {
	object-fit: cover;
	zoom: 0.6;
}

.item-1 {
	grid-row-start: 1;
	grid-row-end: 6;
	overflow: hidden;
}

.item-2 {
	grid-row-start: 1;
	grid-row-end: 4;
	overflow: hidden;
}

.item-3 {
	grid-row-start: 1;
	grid-row-end: 6;
	overflow: hidden;
}

.item-4 {
	grid-row-start: 4;
	grid-row-end: 9;
	overflow: hidden;
}

.item-5 {
	grid-row-start: 6;
	grid-row-end: 10;
	overflow: hidden;
}

.item-6 {
	grid-row-start: 6;
	grid-row-end: 9;
	overflow: hidden;
}

.item-7 {
	grid-row-start: 9;
	grid-row-end: 15;
	overflow: hidden;
}

.item-8 {
	grid-row-start: 10;
	grid-row-end: 15;
	overflow: hidden;
}

.item-9 {
	grid-row-start: 9;
	grid-row-end: 12;
	overflow: hidden;
}

.item-10 {
	grid-row-start: 12;
	grid-row-end: 15;
	overflow: hidden;
}

.gallery__button {
	background-color: #ff5672;
	width: 170px;
	height: 35px;
	text-align: center;
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 1px;
	cursor: pointer;
	color: white;
}

.error {
	padding: 40px 80px;
	height: 355px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fc758c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	color: #ffffff;
}

.error__anchor {
	color: #ffffff;
}
